In [1]:
from pandas import Series
obj=Series([100,250,3500,795,789,],index=['a','b','c','d','e'])
obj

a     100
b     250
c    3500
d     795
e     789
dtype: int64

In [2]:
obj=obj.reindex(['e','d','c','b','a'])
obj

e     789
d     795
c    3500
b     250
a     100
dtype: int64

In [3]:
from pandas import DataFrame
data1={"speed":[100,200,300],
      "temp":[12,56,45],
      }
data1

{'speed': [100, 200, 300], 'temp': [12, 56, 45]}

In [4]:
frame1=DataFrame(data1)
frame1

   speed  temp
0    100    12
1    200    56
2    300    45

In [6]:
d2={"speed":[100,200,300,75],
   "temp":[12,56,45,75],
   "humidity":[75,90,67,12],}
d2

{'speed': [100, 200, 300, 75],
 'temp': [12, 56, 45, 75],
 'humidity': [75, 90, 67, 12]}

In [7]:
frame2=DataFrame(d2)

In [8]:
frame2

   speed  temp  humidity
0    100    12        75
1    200    56        90
2    300    45        67
3     75    75        12

In [9]:
frame1+frame2

   humidity  speed   temp
0       NaN  200.0   24.0
1       NaN  400.0  112.0
2       NaN  600.0   90.0
3       NaN    NaN    NaN

In [10]:
frame2

   speed  temp  humidity
0    100    12        75
1    200    56        90
2    300    45        67
3     75    75        12

In [12]:
obj

e     789
d     795
c    3500
b     250
a     100
dtype: int64

In [13]:
from pandas import Series
a=Series(['1','2','3','4'])
b=Series(['100','200','300','400'])