In [1]:
from pandas import DataFrame
d1={"Speed":[101,109,102],
     "Temp":[34,23,42],
     'Humidity':[256,754,654]}

In [2]:
frame2=DataFrame(d1)
frame2

   Speed  Temp  Humidity
0    101    34       256
1    109    23       754
2    102    42       654

In [3]:
frame2=frame2.reindex(columns=["Speed","Humidity","Temp"])

In [4]:
frame2.sort_index(axis=1)

   Humidity  Speed  Temp
0       256    101    34
1       754    109    23
2       654    102    42

In [5]:
frame2.sort_index(axis=1,ascending=False)

   Temp  Speed  Humidity
0    34    101       256
1    23    109       754
2    42    102       654

In [6]:
from pandas import Series
s1=Series([1200,1000,4000,6000])

In [7]:
s1

0    1200
1    1000
2    4000
3    6000
dtype: int64

In [8]:
s1.sort_values()

1    1000
0    1200
2    4000
3    6000
dtype: int64

In [9]:
frame2

   Speed  Humidity  Temp
0    101       256    34
1    109       754    23
2    102       654    42

In [10]:
frame2.sort_values("Humidity")

   Speed  Humidity  Temp
0    101       256    34
2    102       654    42
1    109       754    23

In [11]:
frame2.sort_values(by='Temp')

   Speed  Humidity  Temp
1    109       754    23
0    101       256    34
2    102       654    42

In [12]:
frame2.sum()

Speed        312
Humidity    1664
Temp          99
dtype: int64

In [14]:
frame2.sum(axis=1)

0    391
1    886
2    798
dtype: int64